<div class="card">
    <div class="card-header">
        <b>Lista de productos</b>
    </div>
    <div class="car-body">
        <div class="row caja1">
            <div class="col-md-2">Filtrar por:</div>
            <div class="col-md-4">
                <input [(ngModel)]="listFilter" class="form-control" name="filter" type="text">
            </div>
        </div>
        <div class="row caja1">
            <div class="col-md-6">
                <h3>Filtro: {{listFilter}}</h3>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <button (click)="showImage()" type="button" class="btn btn-primary">{{muestrImg?'Ocultar ':'Mostrar '}} Imagen</button>
                        </th>
                        <th>Modelo</th>
                        <th>Descripción</th>
                        <th>Año</th>
                        <th>Precio</th>
                        <th>Marca</th>
                        <th>Color</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let coche of productos | productoFiltro: listFilter">
                        <td>
                            <img *ngIf="muestrImg" [src]="coche.ImagenURL"
                            [title]="coche.Modelo"
                            [style.width.px]="imageWidth"
                            [style.margin.px]="imageMargin"
                            >
                        </td>
                        <td>{{coche.Modelo}}</td>
                        <td>{{coche.Descripcion}}</td>
                        <td>{{coche.Year | date:"dd/MM/yy"}}</td>
                        <td>{{coche.Precio | currency}}</td>
                        <td>{{coche.Marca}}</td>
                        <td>{{coche.Color}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>