<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand">PAW</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#my-nav"
    aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="my-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" tabindex="-1" routerLink="/">
                    <fa-icon [icon]="myIcon"> </fa-icon>
                    Inicio
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/Suma">Operaciones</a>
            </li>
            
            <li class="nav-item active">
                <a class="nav-link" routerLink="/Cinemex">Cine</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link signo" routerLink="/Horoscopo">Horóscopo</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" routerLink="/Examen">Examen</a>
            </li>
        </ul>
    </div>
</nav>