nav{
    background-color: #937DC2;
}

.navbar-brand{
    margin-left: 25px;
    font-size: 1.5rem;
}

.nav-item:hover{
    background-color: #B19BDE;
}

.nav-item{
    width: 100px;
    text-align: center;
}